@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: Raleway, 'Times New Roman', Times, serif;
    color: lightslategray;
}
a {
    text-decoration: none;
}
html, body{
    padding: 0;
    margin: 0;
}


.main-header {
    background-image: url("images/front-page/top-option-one.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
    
}

.booking-header {
    background-image: url("images/information-page/info-header.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}
.inquiries-header {
    background-image: url("images/stats-page/stats-main.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}
.about-header {
    background-image: url("images/about-page/about-main.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}
.section-header{
    font-size: 2.25em;
    color: dark-grey;

}

.search-bar{
    border: none;
    width: 10%;
    background: none;
    border-bottom: 1px solid white;
    margin-left: 30px;
    padding: none;
    
}


input[type='text']{
    font-size: 0.8em;
    color: white;
    font-weight:bold;

}
::placeholder{
    font-size: 1.35em;
    font-weight:normal;
    color: rgba(241, 237, 238, 0.85);
}
.search-bar:hover{
    border-bottom: 2.5px solid white;
}

.section-header:hover{
    background-color: rgba(248, 222, 126, 0.25);
}
.search-bar-text{
    font-size: 1em;
    color: rgba(241, 237, 238, 0.918);
    background: none;
    border: none;
}

.search{
    cursor: pointer;
    background: lightgray;
    font-size: 0.75em;
    color: rgba(241, 237, 238, 0.918);
}

.required-star{
    color: red;
    font-size: 1.5em;
}

.inquiry-page::first-letter{
    font-style: bold;
    color: red;
}
nav ul{
    margin: 0;
}

nav li {
    display: inline;
}
nav a{
    display: inline-block;
    padding: .75em;
    text-decoration: none;
    color: rgba(241, 237, 238, 0.918);
}

nav a:hover{
    background-color:rgba(255, 255, 255, 0.3);

}
hr{
    height: 0.25em;
    color: red;
}
.top-navigation{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.top-navigation li{
    padding: 0.5%;
}

.page-title {
    color: whitesmoke;
    font-size: 4em;
    text-align: left;
    margin-left: 0.5em;
}

.page-title:hover{
    color:rgba(165, 64, 86, 0.75);
    text-shadow: 2px 2px black;
}

p{
    color: lightslategray;
}


.chimp-description{
    margin: 1em;
}

.section-header{
    color: gray;
    font-weight: normal;
    font-size: 2em;
}

.behavior-section-chimp{
    float: right;
    text-align: center;
    padding-bottom: 15px;
}

.bottom-image{
    float:left;
    width: 300px;
    padding: 20px;
    margin-right: 20px;
}
.image-caption-font{
    font-size: 1em;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.front-footer{
    background-color: rgba(53, 165, 180, 0.8);
    color: white;
    font-size: 2em;
    font-style: italic;
    padding: .25em;
    border: 5px solid lightblue;
}

.footer-container{
    display: flex;
    align-items: center;
}

.footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-container li {
    padding: 0 .5em;
}

.what-are-chimps-image{
    float: left;
    width: 250px;
    display: block;
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
}

.footer-container img {
    width: 50px;
    height: 50px;
}

.page-subtitle{
    padding: .25em;
}



button{
    text-align: center;
    vertical-align: middle;
    padding: .55em;
    cursor: pointer;
    max-width: 15%;
    color: white;
    background-color: #56CCF2;  
    border: none;
    border-radius: .3em;
    font-size: 1em;
    font-weight: bold;
}

button:hover{
    background-color: #2d9cdb;
}

.front-message{
    text-align: center;
    margin-bottom: 30px;
}
.seminar-header{
    font-size: 2.5em;
    font: dark-grey;
    color: rgb(42, 74, 122);
    text-shadow: 1px 1px black;
}
.seminar-subheader{
    font-size: 1em;
    font-style: italic;

}

.seminar-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.seminar-row:last-child {
    border-bottom: none;
    margin-bottom: 30px;
}

.seminar-item{
    display: inline-block;
    padding-right: .5em;
}

.seminar-date{
    color: #555;
    font-weight: bold;
    width: 15%;
}

.seminar-location{
    width: 24%;
}

.seminar-venue{
    width: 42%;
}

.waving-chimp{
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

.booking-text{
    background-color: lightblue;
    text-align: center;
    font-size: 2em;
}
.seminar-image{
    margin-bottom: 25px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* About page styling */

.about-heading{
    text-align: center;
    font-size: 2em;
    font-weight:900;
    
}
.about-information{
    border: 1px solid #ccc;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.content-one{
    flex-grow: 2;
    margin-top: 30px;
    margin-left: 20px;
}
.content-two{
    margin-top: 30px;
    margin-right: 20px;
}

.about-image-caption-font{
    
    margin: 20px;

    font-size: 2em;
    text-align: center;
    color:slategrey;
    font-weight: bolder;
    font-style: italic;
}

#chimp{
    
    width: 800px;
    text-align: center;
    margin: 20px;
    border: 2px solid gray;
    
}
.donate-box{
    margin-top: 25px;
}


.donation-amount{
    padding: 10px;
    text-align: center;
}
.donate{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 20px;
    width: 80%;
    margin-bottom: 30px;
}

.content-table{
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    min-width: 500px;
    border-radius: 5px;
    overflow: hidden;
}


.content-table th, td{
    padding:12px;
}

.content-table thead th{
    background-color: #283747;
    text-align: left;
    font-weight: bold;
    color: snow;
}
.content-table tr:last-of-type{
    border-bottom: 2px solid #283747;
}
/* Selects every even row */
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f5;
}


/* Stats page styling */

.inquiry-form-container{
    padding: 15px;
    background: url("images/stats-page/bg.jpg");
    background-size: cover;
    background-color: rgba(0,0,0, 0.65);
    background-blend-mode: multiply;
    text-align: middle;
}

/* Looks good - no changes required */
.inquiry-message{
    text-align: center;
    font-size: 2em;
    color: #ddd;
    margin-bottom: 10px;
}
/* Same here*/
.inquiry-message-bottom{
    text-align: center;
    font-size: 1.5em;
    color: #dddd;
}

.divider{
    width: 100px;
    height: 8px;
    background: #34495e;
    margin: 40px auto;
}


.inquiry-form{
    
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
}


#send{
    
    background-image: url("images/stats-page/send.png");
    background-repeat: repeat;
}

#reset{
    
    background-image: url("images/stats-page/reset.png") ;
    background-size: cover;
}

label{
    margin: 10px;
    font-size:1.2em;
    color: rgba(235, 230, 231, 0.918);
    letter-spacing: 1px;
    font-weight:700;
}

input{
    cursor: pointer;
    background-color: #d3d3d3;
    border: none;
    color: white;
    font-size: 0.75em;
    border-radius: 10px;
}

.wrapper h3{
    font-size: 1.5em;
    margin-left: 10px;
    color:rgba(235, 230, 231, 0.918);
}

.wrapper input{
    background: lightgray;
    font-size: 0.8em;
}


