@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: Raleway, 'Times New Roman', Times, serif;
    color: lightslategray;
}
a {
    text-decoration: none;
}
html, body{
    padding: 0;
    margin: 0;
}

.main-header {
    background-image: url("images/front-page/top-option-one.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
    
}
.booking-header {
    background-image: url("images/information-page/info-header.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}
.stats-header {
    background-image: url("images/stats-page/stats-main.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}
.about-header {
    background-image: url("images/about-page/about-main.jpg");
    background-size: cover;
    background-color: lightgray;
    background-blend-mode: multiply;
    padding-bottom: 30px;
    border-bottom: 3px solid black;
}
.section-header{
    font-size: 2.25em;
    color: dark-grey;

}

.section-header:hover{
    background-color: rgba(248, 222, 126, 0.25);
}
nav ul{
    margin: 0;
}

nav li {
    display: inline;
}
nav a{
    display: inline-block;
    padding: .75em;
    text-decoration: none;
    color: rgba(241, 237, 238, 0.918);
}

nav a:hover{
    background-color:rgba(255, 255, 255, 0.3);

}
hr{
    height: 0.25em;
    color: red;
}
.top-navigation{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.top-navigation li{
    padding: 0.5%;
}

.page-title {
    color: whitesmoke;
    font-size: 4em;
    text-align: left;
    margin-left: 0.5em;
}

.page-title:hover{
    color:rgba(165, 64, 86, 0.75);
    text-shadow: 2px 2px black;
}

p{
    color: lightslategray;
}


.chimp-description{
    margin: 1em;
}

.section-header{
    color: gray;
    font-weight: normal;
    font-size: 2em;
}

.behavior-section-chimp{
    float: right;
    text-align: center;
    margin: 10px;
    padding: 0px;
}
.what-are-chimps-image:hover{
    margin: 0px;
    padding: 5px;
}
.image-caption-font{
    font-size: 1em;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.front-footer{
    background-color: rgba(53, 165, 180, 0.8);
    color: white;
    font-size: 2em;
    font-style: italic;
    padding: .25em;
    border: 5px solid lightblue;
}

.footer-container{
    display: flex;
    align-items: center;
}

.footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-container li {
    padding: 0 .5em;
}

.what-are-chimps-image{
    float: left;
    height: 250px;
    display: block;
    border-radius: 50%;
    padding: 20px;
}

.footer-container img {
    width: 50px;
    height: 50px;
}

.page-subtitle{
    padding: .25em;
}



.button{
    text-align: center;
    vertical-align: middle;
    padding: .55em;
    cursor: pointer;
    max-width: 15%;
    color: white;
    background-color: #56CCF2;  
    border: none;
    border-radius: .3em;
    font-size: 1em;
    font-weight: bold;
}

.button:hover{
    background-color: #2d9cdb;
}

.front-message{
    text-align: center;
    margin-bottom: 30px;
}
.seminar-header{
    font-size: 2.5em;
    font: dark-grey;
    color: rgb(42, 74, 122);
    text-shadow: 1px 1px black;
}
.seminar-subheader{
    font-size: 1em;
    font-style: italic;

}

.seminar-row{
    border-bottom: 1px solid black;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.seminar-row:last-child {
    border-bottom: none;
    margin-bottom: 30px;
}

.seminar-item{
    display: inline-block;
    padding-right: .5em;
}

.seminar-date{
    color: #555;
    font-weight: bold;
    width: 15%;
}

.seminar-location{
    width: 24%;
}

.seminar-venue{
    width: 42%;
}

.waving-chimp{
    border: 1px #cccccc solid;
    padding: 4px;
    margin: auto;
}

.booking-text{
    background-color: lightblue;
    text-align: center;
    font-size: 2em;
}
.seminar-image{
    margin-bottom: 25px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

/* Stats page styling */

.front-message{

}
.statistics-container{
    position: relative;
    width: 80%;
    height: 1000px;
    margin: auto;
    margin-bottom: 30px;
    border: 3px solid black;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
}
.sliders-container{
    position: absolute;
    left: 40%;
    background-color: yellow;
    width: 20%;
    margin: 20px;
    
}
.chimp-info-container{
    
    width: 35%;
    height: fit-content;
    background-color: lightgray;
    float: left;
    padding: 15px;
    margin: 20px;
    border: 3px solid gray;
   
}
.human-info-container{
    float: right;
    width: 35%;
    height: fit-content;
    background-color: lightgray;
    padding: 15px;
    margin: 20px;
    border: 3px solid gray;
    
}

.chimp-info-container .human-info-container h2{
    text-align: center;
}

.sliders{
    width: 100%;
    
}



