@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 0.8fr 5.6fr 2fr;
    align-items: start;
    
}
header{
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    justify-content: flex-start;
    background: url(../styling/styles-images/header-background.jpg);
    grid-column: span 3;
    background-color: white;
    background-blend-mode: multiply;
    background-size: cover;
}
a {
    text-decoration: none;
}
header div{
    margin: 10px;
    padding: 20px;
    border: 5px solid gold;
}
main{
    background: linear-gradient(#e66465, #9198e5);
    grid-column: span 3;
    background-color: red;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}
.title{

    font-size: 2em;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
    flex-basis: 80%;
}
footer{
    grid-column: span 3;
    background-color: rgba(20, 20, 200, 0.75);
}
.top{
    margin: 20px;
    padding: 10px;
    background: url()
}

h2{
    padding: 8px;
    font-size: 2em;
    border-bottom: 2px dotted black;
    text-align: center;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.8em;
    width: 80%;
    margin: auto;
}
.wrapper div{
    border: 1px solid black;
    padding: 20px;
    grid-auto-rows: minmax(200px, auto);
}
.bottom{
    padding: 30px;
    margin: auto;
}
.bottom input{
    outline: none;
    width: 80%;
    border: 0.5px solid black;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 25px;
    box-shadow: 2px 2px gray;
}
.bottom div{
    margin: auto;
}
.top-text{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 1.2em;
    line-height: 170%;
    padding: 30px;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
}
textarea{
    outline: none;
    border: 3px solid #cccccc;
    border-radius: 14px;
    width: 500px;
    height: 300px;
}
.main-image{
    border: 1px solid black;
    background: url(../images/test-page/top-image.jpg);
    z-index: 999;
    background-size: cover;
    height: 200px;
    width: 25%;
    min-width: 20%;
    margin: auto;
    background-color: lightgray;
    background-blend-mode: multiply;
}
hr {
    margin-top: 20px;
    width: 25%;
    border-radius: 5px;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
form div{
    width: 90%;
    margin: auto;
}
.btn-container{
    padding-top: 10px;
}
.btn{
    width: 45%;
    margin: 10px;
    letter-spacing: 1px;
    color:white;
    border: none;
    background-color: rgb(255, 0, 90);
    font-size: 1em;
    padding: 8px;
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    box-shadow: 2px 3px #888888
}
.btn:hover{
    background-color: rgb(255, 0, 0);
}