@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

*{
    box-sizing: border-box;
    font-family: Raleway, 'Times New Roman', Times, serif;
    color: lightslategray;
}
a {
    text-decoration: none;
}
html, body{
    padding: 0;
    margin: 0;
}

/* Submit button styling - header */
.submit-button{
    background-color: blue;
    border: none;
    color: rgba(241, 237, 238, 0.85);
    font-weight:bold;
    font-size: 0.80em;
    border-radius: 10px;
    cursor: pointer;
}

/* Search bar styling - header */
.search-bar{
    border: none;
    width: 10%;
    background: none;
    border-bottom: 1px solid white;
    margin-left: 30px;
    padding: none;
}

.section-header{
    font-size: 2.25em;
    color: dark-grey;

}

input[type='text']{
    font-size: 0.8em;
    color: white;
    font-weight:bold;
}
::placeholder{
    font-size: 1.25em;
    font-weight:normal;
    color: rgba(241, 237, 238, 0.85);
}
.search-bar:hover{
    border-bottom: 2.5px solid white;
}

.section-header:hover{
    background-color: rgba(248, 222, 126, 0.25);
}
.search-bar-text{
    font-size: 1em;
    color: rgba(241, 237, 238, 0.918);
    background: none;
    border: none;
}

.required-star{
    color: red;
    font-size: 1.5em;
}

.inquiry-page::first-letter{
    font-style: bold;
    color: red;
}
nav ul{
    margin: 0;
}

nav li {
    display: inline;
}
nav a{
    display: inline-block;
    padding: .75em;
    text-decoration: none;
    color: rgba(241, 237, 238, 0.918);
}

nav a:hover{
    background-color:rgba(255, 255, 255, 0.3);

}
hr{
    height: 0.25em;
    color: red;
}
.top-navigation{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.top-navigation li{
    padding: 0.5%;
}

.page-title {
    color: whitesmoke;
    font-size: 4em;
    text-align: left;
    margin-left: 0.5em;
}

.page-title:hover{
    color:rgba(165, 64, 86, 0.75);
    text-shadow: 2px 2px black;
}

p{
    color: lightslategray;
}

button{
    text-align: center;
    vertical-align: middle;
    padding: .55em;
    cursor: pointer;
    max-width: 15%;
    color: white;
    background-color: #56CCF2;  
    border: none;
    border-radius: .3em;
    font-size: 1em;
    font-weight: bold;
}

button:hover{
    background-color: #2d9cdb;
}
.item-container .btn{
    padding: 12px;
    width: 100px;
    background-color:rgba(53, 165, 180, 0.8);
    color:rgba(235, 230, 231, 0.918);
    font-weight: bold;
    border:none;
    border-radius: 5%;
    cursor: pointer;
    font-size: 1.3em;
    box-shadow: 2px 2px black;
}

.front-footer{
    background-color: rgba(53, 165, 180, 0.8);
    color: white;
    font-size: 2em;
    font-style: italic;
    padding: .25em;
    border: 5px solid lightblue;
}

.footer-container{
    display: flex;
    align-items: center;
}

.footer-container ul{
    flex-grow: 1;
    text-align: end;
}

.footer-container li {
    padding: 0 .5em;
}






